# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GDN2021.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Private projects\Development - Unity\GDN2021\.idea\.idea.GDN2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
